<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <display-name>RandomServlet</display-name>
        <servlet-name>RandomServlet</servlet-name>
        <servlet-class>servlets.RandomServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>RandomServlet</servlet-name>
        <url-pattern>/RandomServlet</url-pattern>
    </servlet-mapping>

</web-app>